html {
  margin: 0;
  padding: 0;
  font-size: 0.96em;
}

body {                                        /* para numerar automaticamente */
  counter-reset: titulo;                      /* 1 - iniciar o contador no body */
  background-color: #232323;
  color: #b4b4b4;
  font-family: sans-serif;
}

h4:before {
  content: "Seção " counter(titulo) "\) ";    /* 2 - indicar o local de uso do contador */
  counter-increment: titulo;                  /* 3 - incrementar o contador */
}

p {
  font-size: 0.92em;
  padding-left: 2.5vw;
}

section {
  border: 1px rgb(51, 51, 51) solid;
  min-width: 280px;
  width: 50vw;
  text-align: justify;
  color: #787878;
  padding: 0 .5em;
}

.post:after {
  content: "Leia mais";
  font-size: 0.85em;
  color: #777777;
}

.titulo {
  font-style: italic;
}

a[href="https://github.com/tomasfn87"] {
  color: rgb(162, 10, 10);
  text-decoration: none;
}

a[href="https://github.com/tomasfn87"]:hover {
  color: #F00;
}

a[href="https://google.com"] {
  color: rgb(63, 104, 161);
  text-decoration: none;
}

a[href="https://google.com"]:hover {
  color: rgba(139, 225, 254, 0.891);
}

body > span {
  font-size: 0.97em;
  font-weight: 600;
}

#meio-ambiente          { background-color:rgb(24, 0, 109); }
#previsao-do-tempo      { background-color:rgb(0, 24, 101); }
#dicas-de-cinema        { background-color:rgb(0, 53, 41); }
#astrologia             { background-color:rgb(44, 46, 0); }
#viagem                 { background-color:rgb(64, 34, 0); }
#saude-e-bem-estar      { background-color:rgb(53, 8, 2); }

#meio-ambiente h4,  
#meio-ambiente span     { color:rgb(136, 112, 235); }
#previsao-do-tempo h4,
#previsao-do-tempo span { color:rgb(82, 159, 231); }
#dicas-de-cinema h4,
#dicas-de-cinema span   { color:rgb(22, 155, 126); }
#astrologia h4,
#astrologia span        { color:rgb(147, 154, 15); }
#viagem h4,
#viagem span            { color:rgb(163, 89, 3); }
#saude-e-bem-estar h4,
#saude-e-bem-estar span { color:rgb(169, 48, 32); }
