html {
  margin: 0;
  padding: 0;
}

body {                                        /* para numerar automaticamente */
  counter-reset: titulo;                      /* 1 - iniciar o contador no body */
  background-color: #232323;
  color: #b4b4b4;
  font-family: sans-serif;
}

h4 {
  font-size: .87em;
}

h4:before {
  content: "Seção " counter(titulo) "\) ";    /* 2 - indicar o local de uso do contador */
  counter-increment: titulo;                  /* 3 - incrementar o contador */
}

p {
  font-size: 0.85em;
  padding-left: 2.5vw;
}

section {
  border: 2px rgba(0, 0, 0, 0) solid;
  height: clamp(140px, min-content, fit-content);
  width: clamp(300px, 70vw, 1000px);
  text-align: justify;
  color: #787878;
  padding: 0 0 .8em .8em;
}

section:hover {
  border: 2px rgba(223, 223, 223, 0.2) solid;
}

.post:before {
  content: "Leia textos, veja fotos e assista a vídeos sobre";
}

.post:after {
  content: "Clique para ler mais";            /* Adiciona 'content' após o conteúdo da tag, */
  font-size: 0.85em;                          /* seguindo as configurações */
  color: #666666;
}

.titulo {
  font-style: italic;
}

body > span {
  font-size: 0.97em;
  font-weight: 600;
}

#meio-ambiente           { background-color:rgb(24, 0, 109); }
#meio-ambiente:hover     { background-color:rgb(13, 2, 55); }

#previsao-do-tempo       { background-color:rgb(0, 24, 101); }
#previsao-do-tempo:hover { background-color:rgb(0, 10, 43); }

#dicas-de-cinema         { background-color:rgb(0, 53, 41); }
#dicas-de-cinema:hover   { background-color:rgb(1, 19, 15); }

#astrologia              { background-color:rgb(44, 46, 0); }
#astrologia:hover        { background-color:rgb(25, 27, 0); }

#viagem                  { background-color:rgb(64, 34, 0); }
#viagem:hover            { background-color:rgb(34, 19, 1); }

#saude-e-bem-estar       { background-color:rgb(53, 8, 2); }
#saude-e-bem-estar:hover { background-color:rgb(19, 3, 0); }

#meio-ambiente h4,  
#meio-ambiente span                     { color:rgb(136, 112, 235); }
section:hover#meio-ambiente h4,
section:hover#meio-ambiente .titulo     { color:rgb(176, 159, 242); }

#previsao-do-tempo h4,
#previsao-do-tempo span                 { color:rgb(82, 159, 231); }
section:hover#previsao-do-tempo h4, 
section:hover#previsao-do-tempo .titulo { color:rgb(146, 197, 245); }

#dicas-de-cinema h4,
#dicas-de-cinema span                   { color:rgb(22, 155, 126); }
section:hover#dicas-de-cinema h4,
section:hover#dicas-de-cinema .titulo   { color:rgb(61, 205, 173); }

#astrologia h4,
#astrologia span                        { color:rgb(147, 154, 15); }
section:hover#astrologia h4,
section:hover#astrologia .titulo        { color:rgb(219, 227, 60); }

#viagem h4,
#viagem span                            { color:rgb(163, 89, 3); }
section:hover#viagem h4,
section:hover#viagem .titulo            { color:rgb(230, 147, 52); }

#saude-e-bem-estar h4,
#saude-e-bem-estar span                 { color:rgb(169, 48, 32); }
section:hover#saude-e-bem-estar h4,
section:hover#saude-e-bem-estar .titulo { color:rgb(214, 123, 111); }

img.secoes {
  width: 90px;
  height: 90px;
  float: left;
  position: relative;
  opacity: 30%;
  margin-right: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
}

section:hover img.secoes {
  opacity: 65%;
  border: 3px solid;
  border-color: inherit;
}

footer {
  min-width: 280px;
  width: clamp(300px, 70vw, 1000px);    /* clamp define valores mínimo, alvo e máximo de uma só vez */
  /*     clamp( min, target,  max)  - evita o uso de min-width, width e max-width */ 
  padding-top: .3em;
}

footer span {   /* github.com */
  float: right;
}

#github-logo {
  fill: #949494;
  opacity: 35%;
}

#github-logo:hover {
  opacity: 55%;
}

.onclick-content {
  width: 94%;
  display: none;
}